* {
    padding: 0;
    margin: 0;
}

svg {
    width: 15px;
}

.background {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

.interface-login {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
}

.div-login {
    border: 1px solid #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 10px;
    border-radius: 15px;
    margin: 0 auto;
    color: #fff;
}
.input {
    width: 250px;
    border-bottom: 1px solid #fff;
}

.input input {
    height: 40px;
    width: 96%;
    border: none;
    padding-left: 10px;
    background: none;
    color: #fff;
}

.user {
    position: relative;
}

.user svg {
    position: absolute;
    right: 0;
    top: 12px;
    right: 10px;
}

.email {
    margin-top: 15px;
    position: relative;
}

.email svg {
    position: absolute;
    right: 0;
    top: 12px;
    right: 10px;
}

.password {
    position: relative;
    margin-top: 15px;
}

.password svg {
    position: absolute;
    right: 0;
    top: 12px;
    right: 10px;
}

.click-login {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #fff;
    color: black;
    transition: background-color 0.4s;
}

.have-acc {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 12px;
    font-size: 14px;
}

::placeholder {
    color: #fff;
    border-color: none;
}

.pointer {
    cursor: pointer;
}

.login {
    transition: color 0.2s;
}

.login:hover {
    color: #e7d666;
}

.click-login:hover {
    background-color: #e7d666;
}