/* search */
.form-search {
    width: 350px;
    z-index: 10;
    position: absolute;
    left: 240px;
    top: 75px;
    display: flex;
    flex-direction: column;
    color: #212121;
    background-color: #cdbc4d;
    max-height: 500px;
    overflow: scroll;
    border-radius: 7px;
}

.item-searched {
    display: flex;
    border-bottom: 1px solid #212121;
    background-color: #cdbc4d;
}

.img-item-searched {
    width: 60px;
    height: 80px;
    margin: 10px;
    object-fit: cover;
}

.img-item-searched img {
    width: 100%;
    height: 100%;
}

.icon-eye-view svg {
    width: 15px;
}

.title-film-searched {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.view-film-searched {
    display: flex;
    gap: 5px;
    align-items: center;
}